{:paths ["src" "resources"]
 :deps {io.github.kotoba-lang/org-ietf-deflate {:git/sha "430d754313e9082114ec00554e0b6770d9d318c5"}
        io.github.kotoba-lang/org-iso-opentype {:git/sha "250e2fc9f5335d705ddc0901cdf63e655c379531"}
        ;; WOFF2 compresses the whole font with brotli (W3C WOFF2 §4.4).
        io.github.kotoba-lang/org-ietf-brotli {:git/sha "8ef3bdc24687b7790d3274ce837ffa3e00921a1b"}}
 :aliases {:local {:override-deps {io.github.kotoba-lang/org-ietf-deflate {:local/root "../org-ietf-deflate"}
                            io.github.kotoba-lang/org-iso-opentype {:local/root "../org-iso-opentype"}
                            io.github.kotoba-lang/org-ietf-brotli {:local/root "../org-ietf-brotli"}}}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
  ;; clj-kondo as a Clojars lib (no Homebrew/system install needed).
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}
