{:paths ["src" "resources"]
 :deps {io.github.kotoba-lang/org-ietf-deflate {:git/sha "d97242c7c4357f600987795e8e8cc11f3f851168"}
        io.github.kotoba-lang/org-iso-opentype {:git/sha "250e2fc9f5335d705ddc0901cdf63e655c379531"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                  :main-opts ["-m" "cognitect.test-runner"]}
  ;; clj-kondo as a Clojars lib (no Homebrew/system install needed).
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}
